// Golbal setting

html, body{
    background-color: var(--bs-light);
}

.info-bg-dark{
    background-color: rgb(66, 75, 92);
}

.info-bg-light{
    background-color: rgba(66, 75, 92, 0.1);
}

.info-shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px; 
}

.info-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h1{
    margin: 0;
    font-size: 28px;
}

p{
    margin: 0;
}

.nav-height{
    min-height: calc( 100vh - 50px );
}
